<form  (submit)="salvar(estado); formCadastro.resetForm()" novalidate #formCadastro="ngForm">
  
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" [(ngModel)]="estado.nome" id="nome" name="nome" class="form-control" required/>    
  </div>
  <div *ngIf="formCadastro.controls.nome?.errors && formCadastro.controls.nome?.touched" class="error">
    O nome é obrigatório
  </div>

  <div class="form-group">
    <label for="sigla">Sigla</label>
    <input type="text" [(ngModel)]="estado.sigla" id="sigla" name="sigla" class="form-control" required />
  </div>
  <div *ngIf="formCadastro.controls.sigla?.errors && formCadastro.controls.sigla?.touched" class="error">
      O sigla é obrigatório
  </div>

  <button id="btnSalvar" class="btn btn-success" [disabled]="!formCadastro.valid" type="submit">Salvar</button>
</form>

<br>

<div class="card" *ngFor="let estado of estados">
  <div class="card-block">
    <div class="row">
      <span class="col">
        Estado: {{estado.nome}}
      </span>
      <span class="col">
        Sigla: {{estado.sigla}}
      </span>
      <span class="col">
        <button type="button" class="btn btn-warning pull-right" (click)="selecionaEstado(estado)">Alterar</button>
        <button type="button" class="btn btn-danger pull-right" (click)="deletaEstado(estado)">Deletar</button>
      </span>
    </div>
  </div>
</div>
