<div class="alert alert-success" role="alert">
  <h3>Logue-se para continuar</h3>
</div>

<form>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="login">Usuario</label>
        <input type="email" [(ngModel)]="user.login" name="login" class="form-control" />
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" [(ngModel)]="user.password" name="password" class="form-control" />
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col">
      <button (click)="doLogin(user.login, user.password)" class="btn btn-success" type="button">Login</button>
    </div>
  </div>



</form>