<form (submit)="salvar(cidade); formCadastro.resetForm()" novalidate #formCadastro="ngForm">
  
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" [(ngModel)]="cidade.nome" id="nome" name="nome" class="form-control" required/>
  </div>
  <div *ngIf="formCadastro.controls.nome?.errors && formCadastro.controls.nome?.touched" class="error">
    O nome é obrigatório
  </div>

  <div class="form-group">
    <label for="estado">Estado</label>
    <select id="estado" name="estado" [(ngModel)]="cidade.estado" class="form-control" required>
      <option *ngFor="let e of estados" [value]="e.codigo">{{e.nome}}</option>
    </select>
  </div>
  <div *ngIf="formCadastro.controls.estado?.errors && formCadastro.controls.estado?.touched" class="error">
    O estado é obrigatório
  </div>

  <div class="form-group">
    <label for="codigoIBGE">Código IBGE</label>
    <input type="text" [(ngModel)]="cidade.codigoIBGE" id="codigoIBGE" name="codigoIBGE" class="form-control" required/>
  </div>
  <div *ngIf="formCadastro.controls.codigoIBGE?.errors && formCadastro.controls.codigoIBGE?.touched" class="error">
    O código IBGE é obrigatório
  </div>

  <button class="btn btn-success" [disabled]="formCadastro.invalid" id="btnSalvar" type="submit">Salvar</button>
</form>

<br>

<div class="card" *ngFor="let cidade of cidades">
  <div class="card-block">
    <div class="row">
      <span class="col">
        Cidade: {{cidade.nome}}
      </span>
      <span class="col" *ngIf="cidade.objEstado">
        Estado: {{cidade.objEstado.nome}}
      </span>
      <span class="col">
        Código IBGE: {{cidade.codigoIBGE}}
      </span>
      <span class="col">
        <button type="button" class="btn btn-warning pull-right" (click)="selecionaCidade(cidade)">Alterar</button>
        <button type="button" class="btn btn-danger pull-right" (click)="deletaCidade(cidade)">Deletar</button>
      </span>
    </div>
  </div>
</div>